.cookie-preview {
    width: 601px;
    height: 640px;
}

.error {
    border: 2px solid red;
    padding: 15px;
    background: blanchedalmond;
}

.btn {
    background: #b2a596;
    color: #000;
    text-decoration: none;
    padding: 5px 7px;
    border: 1px solid #44300d;
    font-weight: bold;
    margin: 3px;
    border-radius: 4px;
    display: inline-block;
}

.btn-disabled {
    background: #d5d5d5;
    color: #888686;
    pointer-events: none;
}

.btn-small {
    padding: 0 5px;
    margin: 0;
    line-height: 25px;
}

.btn-big {
    font-size: 110%;
    padding: 10px 20px;
}

.card-img{
    width: 32px;
    margin-right: 10px;
    vertical-align: middle;
}
